@import "../variables";

.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $maxWidth;
  height: $headerHeight;
  margin: 0 auto;
  padding: 1rem 2rem;
  background: $darker;

  &__logo{
    width: 4rem;
    height: auto;
  }

  &__button{
    width: 2rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__menu{
    display: block;
    width: 100%;
    fill: $white;
  }
}