@import "../mixins";
@import "../variables";

.Sidebar{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: $maxWidth;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .3);
  pointer-events: none; // cambiar al activar sidebar

  &__main{
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    padding: 2rem;
    background: $darker;
    color: $white;
    pointer-events: all; // revisar
  }

  &__user{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__photo{
    display: block;
    width: 40%;
    height: auto;
    margin-right: 2rem;
    border: 1px solid $light;
    border-radius: 50%;
  }

  &__username{
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__spacer{
    margin: 1.5rem 0;
    border: 1px solid $light;
  }

  &__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4rem;
  }

  &__link{
    display: flex;
    align-items: center;
    width: 100%;
    margin: .8rem;
    color: $white;
    text-decoration: none;
    font-size: 1.5rem;

    &--exit{
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  &__ico{
    width: 1.5rem;
    height: auto;
    margin-right: 2rem;
    fill: $white;
  }
}