@import "../mixins";
@import "../variables";

.index {
	@include page;

	&__categories {
		display: flex;
		justify-content: space-around;
	}

	&__category {
		background: none;
		color: $light;
		border: none;
		font-size: 1rem;
		font-weight: 900;

		&--active {
			color: $red;
		}
	}

	&__products {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		margin-top: 1.5rem;
	}
}
